body {
    /*backgroud:white;*/
}

div#home{
    /*background:blue;*/
}

div#header,div#footer{
    border: 1px solid;
    margin-top:15%;
    margin-bottom:5%;
    margin-left:5%;
    margin-right:5%;
}

/*.item{
    border: 1px solid;
    margin-top:5%;
    margin-bottom:15%;
    padding:2%;
}*/


.scrollview-container
{
    background:silver;
}
